* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus-visible {
    box-shadow: 0 0 0 2px var(--background-accent);
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Styles to common body */
.body {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    min-height: 100svh;
}

:root {
    --color-primary: #009ee4;
    --color-primary-hover: #0080c1;
    --color-white: #ffffff;
    --color-transparent: transparent;
    --border-primary: 1px solid var(--color-primary);
    --border-white: 1px solid var(--color-white);
    --opacity-disabled: 0.5;
    --background-accent: var(--color-primary);
    --background-main: #ffffff;
}
