.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.greeting {
    font-size: 28px;
    font-weight: 600;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.profileBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.avatarBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #e5e5e5;
}

.changeAvatar {
    font-size: 14px;
    color: var(--color-primary);
    background: none;
    border: none;
    cursor: pointer;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    border-radius: 8px;
}

.fullWidth {
    grid-column: 1 / -1;
    max-width: 624px;
}

.profileInput input {
    padding-left: 19px;
    border-radius: 30px;
}

.saveButton {
    margin-top: 14px;
    width: 180px;
    justify-self: center;
}

@media (width >= 1248px) {
    .wrapper {
        margin-top: 0;
    }
    .profileBlock {
        flex-direction: row;
        align-items: flex-start;
        gap: 32px;
    }

    .avatarBlock {
        align-items: center;
    }

    .form {
        grid-template-columns: 300px 300px;
        gap: 16px 24px;
    }

    .profileInput input {
        border-radius: 6px;
    }

    .saveButton {
        grid-column: 1 / -1;
        justify-self: start;
    }
}
