.root {
    min-height: 100svh;
    background-color: var(--color-bg-app);
    overflow-x: hidden;
}

.container {
    min-height: 100svh;
    padding: 0 18px;
    background-color: var(--color-bg-surface);
}

@media (width >= 1248px) {
    .container {
        padding: 0 calc(50% - 600px);
    }
}
