.root {
    background-color: var(--color-bg-app);
    overflow-x: hidden;
}

header,
main,
footer {
    padding: 0 18px;
    background-color: var(--color-bg-surface);
}

@media (width >= 1248px) {
    header,
    main,
    footer {
        padding: 0 calc(50% - 600px);
    }
}
