.header {
    background-color: var(--background-accent);
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px 16px;

    display: flex;
    align-items: center;
    gap: 16px;
}

.search {
    flex: 1;
    border-radius: 30px;
    padding-left: 17px;
}

.loginLink {
    display: none;
}

@media (width >= 768px) {
    .mobileLogo {
        display: none;
    }

    .inner {
        justify-content: flex-end;
    }

    .loginLink {
        display: block;
        text-decoration: none;
    }

    .loginButton {
        padding: 8px 24px;
        border: var(--border-white);
        color: var(--color-white);
    }

    .search {
        display: none;
    }
}
