.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;

    height: var(--footer-height);
    background-color: var(--color-white);
    border-top: var(--border-top-footer);

    z-index: 1000;
}

@media (width >= 768px) {
    .footer {
        display: none;
    }
}
