.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    align-items: start;
}

@media (width >= 1024px) {
    .grid {
        grid-template-columns: repeat(auto-fill, 240px);
        gap: 26px;
    }
}
