.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background: #fff;
    width: 100%;
    height: 100%;

    padding: 16px;
}

.headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.textarea {
    min-height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.error {
    color: red;
    font-size: 14px;
}

@media (width >= 1248px) {
    .wrapper {
        max-width: 420px;
        margin: auto;
        border-radius: 12px;
        padding: 20px;
    }
}
