.page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 16px;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #eee;
    border-radius: 8px;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.meta {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #666;
    gap: 4px;
}

.reviews {
    color: #009ee4;
    font-size: 14px;
    cursor: pointer;
}

.reviewsButton {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    height: auto;

    font-weight: 500;

    color: var(--color-primary);
    background: transparent;
}

.price {
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

.phoneButton {
    width: 278px;
    height: 58px;
    padding: 0;
    margin-top: 10px;
}

.seller {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    background: #ddd;
    border-radius: 50%;
}

.sellerName {
    font-size: 18px;
    color: var(--color-primary);
    font-weight: 600;
    padding-bottom: 5px;
}

.sellerMeta {
    font-size: 14px;
    color: var(--color-text-secondary);
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.descriptionTitle {
    font-size: 18px;
    font-weight: 600;
}

.description {
    line-height: 1.5;
    color: var(--color-text-main);
}

@media (width >= 1248px) {
    .top {
        flex-direction: row;
        gap: 59px;
        align-items: flex-start;
    }

    .gallery {
        flex: 0 0 600px;
        height: 500px;
        aspect-ratio: auto;
    }

    .info {
        flex: 1;
        max-width: 500px;
    }

    .title {
        font-size: 28px;
    }

    .price {
        font-size: 26px;
        margin-top: 24px;
    }
    .phoneButton {
        width: 214px;
        height: 62px;
        font-size: 16px;
        margin-top: 10px;
    }
    .seller {
        margin-top: 24px;
    }
}

@media (hover: hover) {
    .reviewsButton {
        text-decoration: underline;
    }
}
